.presentation {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background: #1a1a1a;
    border-left: 4px solid #ed1d24; // Rouge Marvel
    border-bottom: 1px solid #333;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2); // Effet ombre "BD"

    h2 {
        color: #ed1d24;
        font-family: 'Bangers', cursive;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    p {
        color: #fff;
        line-height: 1.6;
        margin-bottom: 15px;

        strong { color: #daa520; } // Or
        
        span { 
            font-weight: bold;
        }

        &:last-child {
            font-weight: bold;
            text-transform: uppercase;
            color: #555;
            margin-bottom: 0;
        }
    }
}