$yellowFont: goldenrod;
$bg-second: #8B0000;
$f-bangers: "Bangers", system-ui;
$navHeight: 100px;

:root{
    --nav-height: 100px;
    --wrapper-width: 75%;
    --burger-bsize: 30px;
}

@media all and (max-width:1600px){
    :root{
        --wrapper-width: 85%;
    }
}


@media all and (max-width:1000px){
   :root{
    --nav-height: 60px;
   }
}