@use "../../styles/variables" as vr;
@use "../../styles/mixins";

.navbar{
    background-color: vr.$bg-second;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 10%;
    .logo{
        height: 100%;
        width: auto;
        margin: 0 1%;
        img{
            height: 100%;
        }
    }
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        height: 100%;
        margin: 0;
        padding: 0;
        .menu-item{
            width: 150px;
            &:has(.active){
                box-shadow: inset 0 -3px 0 0 vr.$yellowFont;
            }
            .link{
                @extend %flex-center;
                width: 100%;
                height: 100%;
                text-decoration: none;
                font-size: 1.6rem;
                color: vr.$yellowFont;
                font-family: vr.$f-bangers;
                font-weight: 400;
                font-style: normal;
                transition: all ease-in 0.15s;

                &:hover{
                    transform: scale(1.25);
                }
            }
        }
    }
}