@use "../../styles/variables" as vr;
@use "../../styles/mixins";

.navbar{
    background-color: vr.$bg-second;
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 10%;
    z-index: 100;
    .logo{
        height: 100%;
        width: auto;
        margin: 0 1%;
        img{
            height: 100%;
        }
    }
    .menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 100%;
        margin: 0;
        padding: 0;
        .menu-item{
            width: 150px;
            &:has(.active){
                box-shadow: inset 0 -3px 0 0 vr.$yellowFont;
            }
            .link{
                @extend %flex-center;
                width: 100%;
                height: 100%;
                font-size: 1.6rem;
                color: vr.$yellowFont;
                font-family: vr.$f-bangers;
                font-weight: 400;
                font-style: normal;
                transition: all ease-in 0.15s;

                &:hover{
                    transform: scale(1.25);
                }
            }
        }
    }

    .burger{
        display: none;
        position: absolute;
        right: 2%;
        height: 100%;
        width: 50px;
        @extend %flex-center;
        .burger-button{
            cursor: pointer;
            width: 100%;
            height: var(--burger-bsize);
            @extend %flex-center;
            .burger-icon{
                width: 100%;
                height: 100%;
            }
        }
    }

    @media all and (max-width: 750px) {
        .menu{
            display: none;
        }
        .burger{
            display: flex;
        }
    }
}

.menu-burger{
    width: 100%;
    height: calc(100vh - var(--nav-height));
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: vr.$bg-second;
    transform: translateX(-100%);
    transition: all ease-in-out 0.5s;
    .inMenu{
        height: calc(100% - var(--nav-height));
        gap: 20px;
        padding: 0;
        margin: 0;
        @extend %flex-center;
        flex-direction: column;
        .menu-item{
            font-size: 1.6rem;
            color: vr.$yellowFont;
            font-family: vr.$f-bangers;
            font-weight: 400;
            font-style: normal;
            .link{
                color: vr.$yellowFont;
            }
        }
    }
    &.open{
        transform: translateX(0);
    }
}