@use "../../styles/mixins";
@use "../../styles/variables" as vr;

article{
    .title{
        @media all and (max-width: 400px){
            h1{
                font-size: 24px;
            }
        }
    }
    .content{
        display: flex;
        gap: 40px;
        .cover{
            width: 30%;
            @extend %flex-center;
            img{
                height: 500px;
                filter: drop-shadow(vr.$yellowFont 0 0 4px);
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .c-item{
                background-color: #020a1772;
                padding: 10px;
                border-radius: 1rem;
                outline: 1px solid vr.$yellowFont;
                h3{
                    margin: 0 0 20px;
                    color: vr.$yellowFont;
                }
            }
            .authors{
                .author{
                    display: inline;
                    .author-name{
                        display: inline;
                    }
                }
            }
            .release, .page-number{
                h3{
                    margin: 0;
                }
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }
        }
        @media all and (max-width: 1130px) {
            flex-direction: column;
            .cover{
                width: 100%;
            }
            .info{
                gap: 20px;
                
            }
        }
        @media all and (max-width: 400px){
            .cover{
                img{
                    height: 400px;
                }
            }
        }
    }
}

.back-button{
    a{
        display: block;
        width: fit-content;
        
    }
}